.Post {
  @apply w-full max-w-[700px] overflow-hidden h-fit transition bg-[#18181880] break-inside-avoid rounded-xl hover:scale-100 scale-[.99];
  .PostBody {
    @apply px-3 sm:px-5 pt-3 pb-6 transition-all;
    .PostHeading {
      @apply justify-between items-center flex-wrap-reverse gap-x-3;
      .PostTitle {
        @apply mb-2 capitalize text-base leading-5 sm:text-2xl gap-5 hover:underline;
      }

      .PostDate {
        @apply text-sm max-sm:text-[10px] opacity-80;
      }
    }

    .PostDescription {
      @apply opacity-50 mb-8 max-sm:text-xs;
    }
  }

  .PostFooter {
    @apply items-center justify-between gap-x-3 gap-y-5;
    .PostLink {
      @apply max-sm:text-xs;
    }

    .Tags {
      .PostTag {
        @apply sm:text-base text-xs hover:underline leading-none;
      }
    }
  }
}
