.Portfolio {
  @apply sm:mt-32;
  .Head {
    @apply text-center mb-[60px] text-white;
    .Heading {
      @apply sm:text-6xl text-4xl;
    }
  }

  .Block {
    @apply lg:columns-3 columns-1;
    .Work {
      @apply relative transition overflow-hidden my-4 rounded-xl h-fit  cursor-pointer bg-opacity-20;

      .Ineer {
        @apply px-4 py-8 bg-[#252525] bg-opacity-60;
        .ProjectTitle {
          @apply text-3xl m-0;
        }
        .btns {
          @apply gap-y-6 gap-x-3 mt-4 flex-wrap;
        }
      }
    }
  }
}
